<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Download a Report</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">SP-API Reports API Playground - Download a Report</span>
        </a>
    </header>
        <div class="alert alert-warning" role="alert">
        Do not close the page if you haven't got what you want. Because you have to re-enter the credentials again!
    </div>
    <form action="" enctype='multipart/form-data' target="_blank" method='POST'>
        <div class="mb-3">
            <label for="refreshtoken" class="form-label">Refresh Token</label>
            <input type="password" name="refreshtoken" class="form-control" aria-describedby="passwordHelpBlock">
        </div>

        <div class="mb-3">
            <label for="appid" class="form-label">LWA App ID</label>
            <input type="password" name="appid" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
            <label for="clientsecret" class="form-label">LWA Client Secret</label>
            <input type="password" name="clientsecret" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
            <label for="awssecret" class="form-label">AWS Secret Key</label>
            <input type="password" name="awssecret" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
            <label for="awsaccess" class="form-label">AWS Access Key</label>
            <input type="password" name="awsaccess" class="form-control" aria-describedby="passwordHelpBlock">
        </div>

        <div class="mb-3">
            <label for="rolearn" class="form-label">Role ARN</label>
            <input type="password" name="rolearn" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
            <label for="documentID" class="form-label">Report Document ID</label>
            <input type="text" name="documentID" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <input type="submit" class="btn btn-success" value="Download the report">

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>